

  <section ng-controller="PodcastsController as users" ui-view>
    <div class="profile">
        <h3> What up {{users.user.name}}!  </h3> <br>
        <li ng-repeat="podcasts in users.user.podcasts">
          <p> <strong> Saved Podcast </strong> </p> <br>
          <p> {{podcasts.trackName}} </p> <br>
          <a ng-href="{{podcasts.collectionViewUrl}}" target="_blank"><img ng-src="{{podcasts.artworkUrl100}}"> </a>
       </li>
       <button id="user-profile-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="users.getTwitter()"> See me </button> <br>
        <a id="twitter" href="https://warm-sea-7753.herokuapp.com/users/login/twitter/" target="_blank"> <img src="./sign-in-with-twitter-gray.png"></a>
    </div>
